.weather-page {
  background-image: url("../../assets/images/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.weather-box {
  background-color: #082946;
  color: #fff;
  padding: 20px 30px;
  border: #b4b8bc 4px solid;
  gap: 25px;
}

.day-details {
  gap: 50px;
}

.current-day {
  margin-top: 20px;
}

.days {
  margin-top: 50px;
  gap: 50px;
}

.day {
  gap: 10px;
  padding: 10px;
  cursor: pointer;
}

.day:hover {
  background-color: #b4b8bc66;
}

.selected {
  background-color: #b4b8bc36;
}

.large-text {
  font-size: 20px;
}

.larger-text {
  font-size: 24px;
}

.weather-icon {
  width: 20px;
}

.weather-icon {
  width: 50px;
}

.temp {
  font-size: 22px;
}
